header{

    nav{
        padding: 20px 0;
        width: 100vw;
        @include flex(center,center);

        h3{
            color: rgb(94, 94, 94);
            font-family: "APP-NAME";
            
            i{
                color: $primary;
            }
        }
    }

    #about-button{
        position: absolute;
        top: 18px;
        right: 2vw;
        padding: 5px;
        background-color: $primary;
        color: #fff;
    }
}