@import 'variables';
@import 'fonts';

// GLOBAL DOCUMENT SETTINGS
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;

    &::selection{
        background: $primary;
        color: #fff;
    }
}
html{
    font-size: 16px;
    scroll-behavior: smooth;
}
body{
    overflow-x: hidden;
    width: 100%;
    height: 100%;
}

// GLOBAL ELEMENT SETTINGS
a{
    text-decoration: none;
}
h1,h2,h3,h4{
    font-family: 'HEADING';
    cursor: default;
}
p{
    color: $primaryText;
    font-weight: 200;
    font-size: 1.05rem;
    cursor: default;
}
span{
    cursor: default;
}
button{
    outline: 0 !important;
    &:focus-visible{
        outline: 2px solid blue !important;
    }
}
input{
    outline: none !important;
}

// CUSTOM BUTTONS
.button{
    border-radius: $btnRadius;
    background-color: $primary;
    border-color: $primary;
    border-width: 2px;
    color: #fff;

    &:hover{
        background-color: #fff;
        border-color: $primary;
        color: $primary;
    }
}
.button-2{
    background-color: $secondary2;
    border-color: $secondary2;
    
    &:hover{
        border-color: $secondary2;
        color: $secondary2;
    }
}