@import 'base';
@import 'basenav';

section{
    @include flex(center, flex-start);
    flex-direction: column;
}

.section-heading{
    @include flex(space-between, center);
    width: 100%;
    padding: 0 20px;
    margin-bottom: 20px;

    div{
        @include flex(flex-start,center);

        h4{
            margin: 0;
        }
        span{
            margin-left: 7px;
            background-color: transparent;
            border: 2px solid $primary;
            color: $primary;
            @media screen and (max-width: 350px){
                display: none;
            }
        }
    }
    button{
        background-color: #fff;
        color: $primary;
    }
}

.card{
    padding: 10px 20px;
    height: 130px;
    border: 0;

    div{
        @include flex(flex-start, flex-end);
        width: 100%;
        height: 100%;
        font-weight: 500;
        color: #fff;
        border-radius: 10px;
        padding: 10px 20px;
    }
}

.black-card{
    background-color:#32343b;
}
.blue-card{
    background-color: mediumslateblue;
}
.orange-card{
    background-color: rgb(238, 179, 52);
}
.green-card{
    background-color: $primary;
}

.no-card{
    @include flex(center,center);
    border-radius: 13px;
    width: 100%;
    height: 100%;
    div{
        @include flex(center,center);
        flex-direction: column;
        color: $primaryText;
        border: 1px solid #ccc;
        width: 100%;
        height: 100%;
        padding: 30px;
    }
}
.no-desk{
    div{
        position: relative;
    }
    small{
        color: $primary;
    }
    i{
        position: absolute;
        top: 20%;
        right: 40px;
        transform: translateY(-50%);
        font-size: 2rem;
        color: $secondary2;
        animation: MoveUpDown 1s linear infinite;
        @media screen and (max-width: 767px){
            display: none;
        }
    }
    @keyframes MoveUpDown {
        0%, 100% {
            top: 20%;
        }
        50% {
            top: 30%;
        }
    }
}
.no-shared{
    small{
        color: rgb(253, 181, 46);
    }
}

#profile{
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 15px;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    opacity: .8;
    width: 33px;
    height: 33px;
}

.modal.modal-static .modal-dialog{
    transform: none !important;
}

.modal-content{
    border-radius: 20px;
    border: 0;
}

#profileModal{
    padding: 30px;

    #profile-content{
        @include flex(center,center);
        flex-direction: column;
    }

    #profile-picture{
        @include flex(center,flex-end);
        width: 150px;
        height: 150px;
        border-radius: 50%;
        background-size: contain;
        background-position: center;
        overflow: hidden;
        position: relative;

        &:hover{
            div{
                bottom: 14px;
            }
        }
        div{
            cursor: pointer;
            position: absolute;
            bottom: -25px;
            left: 0;
            width: 100%;
            height: 25px;
            background-color: $secondary2;
            color: #fff;
            transition: bottom .6s;
            font-weight: 500;
        }
    }

    h3{
        font-weight: 300;
        #profileUsername{
            color: $primary;
        }
    }

    #data-field{
        @include flex(space-between,center);
        position: relative;
        padding: 15px 0;
        width: 100%;
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        font-weight: 300;

        #usernameError{
            position: absolute;
            top: 0;
            right: 10px;
            color: $error;
        }
        div{
            @include flex(flex-start,center);
            width: 100%;
            flex-wrap: wrap;
        }
        #cancel-box{
            position: absolute;
            top: 15px;
            right: 40px;
            @media screen and (max-width: 384px){
                top: 25px;
            }
            button{
                color: rgb(255, 228, 75);
            }
        }
        #left-icon{
            margin-right: 10px;
        }
        span{
            color: $primaryText;
            font-size: 1.1rem;
        }
        button{
            font-size: 1.2rem;
            color: $primary;
            border-color: transparent;
            background-color: transparent;
        }
        input{
            margin-left: 5px;
            width: 100%;
            border-width: 0 0 2px 0;
            border-radius: 0px;
            padding-left: 0;
            color: $primaryText;
            font-weight: 300;
            font-size: 1.05rem;
            &:focus{
                border-color: $primary;
            }
            &::placeholder{
                color: $placeholder;
            }
        }
    }

    #profile-buttons{
        @include flex(space-between,center);
        width: 100%;

        button{
            padding: 3px 15px;
            border-radius: 10px;
            color: #fff;
        }
        #profileSave{
            background-color: $primary;
        }
        #profileClose{
            background-color: $error;
            border-width: 2px;
            margin-left: 5px;
        }
        #logoutButton{
            background-color: #fff;
            color: $secondary2;
            border-color: $secondary2;
        }
    }
}

#deskModalBody{
    padding: 30px;
    padding-bottom: 15px;

    input{
        border-width: 0 0 1px 0;
        border-radius: 0px;
        padding-left: 0;
        color: $primaryText;
        font-weight: 400;
        &:focus{
            border-color: $primary;
        }
        &::placeholder{
            color: $placeholder;
        }
    }

    .fa-edit{
        position: absolute;
        color: $primary;
        top: 10px;
        right: 0;
    }

    #desknameError{
        color: $error;
    }
    
    #deskColors{
        @include flex(center,center);
        flex-wrap: wrap;
        padding: 20px 5px;
        border-radius: 10px;

        span{
            font-size: 1.1rem;
            margin-bottom: 10px;
            color: rgb(107, 107, 107);
            i{
                color: $primary;
            }
        }
        div{
            width: 100%;
            margin: 0;
            padding: 0;
            @include flex(space-between, center);
            flex-wrap: wrap;
            border: 5px solid #fff;

            div{
                cursor: pointer;
                border-radius: 10px;
                height: 60px;
                width: 60px;
                margin: 10px;
            }

            .selected-color{
                border: 5px solid rgba(0, 0, 0, 0.301);
            }
        }
    }
}
#deskModalClose{
    position: absolute;
    top: 0;
    left: -9000px;
}