@import 'base';
@import 'basenav';

section{
    @include flex(center, flex-start);
    flex-direction: column;
}

.section-heading{
    @include flex(space-between, center);
    width: 100%;
    padding: 0 20px;
    margin-bottom: 20px;

    div{
        @include flex(flex-start,center);

        h4{
            margin: 0;
        }
        span{
            margin-left: 7px;
            background-color: transparent;
            border: 2px solid $primary;
            color: $primary;
            @media screen and (max-width: 350px){
                display: none;
            }
        }
    }
    button{
        background-color: #fff;
        color: $primary;
        padding: 5px 10px;
    }
}

.card{
    padding: 10px 20px;
    height: 130px;
    border: 0;

    div{
        @include flex(flex-start, flex-end);
        width: 100%;
        height: 100%;
        font-weight: 500;
        color: #fff;
        border-radius: 10px;
        padding: 10px 20px;
    }
}

.black-card{
    background-color: #777;
}
.blue-card{
    background-color: mediumslateblue;
}
.orange-card{
    background-color: rgb(238, 179, 52);
}
.green-card{
    background-color: $primary;
}