@import 'base';

[data-theme="dark"]{
    --theme-bg : #373f47;
    --theme-txt: #F5F5F5;
    --theme-border: 1px solid transparent;
    --border-color: #fff;
}
[data-theme="light"]{
    --theme-bg : #fff;
    --theme-txt: $primaryText;
    --theme-border: 1px solid #ccc;
    --border-color: rgb(231, 231, 231);
}

*::selection{
    background-color: $secondary2;
    color: #fff;
}

body{
    width: 100vw;
    height: 100vh;
}

// Coloring
.top-division, #topDeskname, #inviteBtn i, .menuSection .menuIcon, #addListBtn i, .addTaskBtn i{
    color: $secondary2 !important;
}
#admin i, #inviteModal form button{
    background-color: $secondary2 !important;
}
#inviteModal form button{
    border-color: $secondary2 !important;
}

// Top Navbar
nav{
    @include flex(space-between,center);
    padding: 8px;
    height: 60px;
    border-bottom: 1px solid #ccc;
    background-color: rgb(245, 245, 245);
}
#topControl{
    button{
        border: 0;
        border-radius: 5px;
        padding: 0 7px;
        background-color: $secondary2;
        color: #fff;
        i{
            margin-right: 5px;
        }
    }
    .top-division{
        margin: 0 0px 0 10px;
    }
    #topDeskname{
        padding: 3px 8px;
        border-radius: 5px;
        font-weight: 700;
        white-space: nowrap;
    }
}
#topMembers{
    @include flex(flex-end,center);
    margin-right: 7px;
    #inviteBtn{
        height: 30px;
        width: 70px;
        border: 0;
        color: $primaryText;
        background-color: transparent;
        margin-right: 0px;
        padding: 0 5px;
        border-radius: 5px;
    }
    .member-card{
        border-radius: 50%;
        height: 29px;
        width: 29px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        border: 3px solid rgb(117, 117, 117);
        opacity: .4;
        transition: all .4s;
    }
    #admin{
        position: relative;
        i{
            font-size: .35rem;
            position: absolute;
            top: -3px;
            right: -3px;
            color: #fff;
            border-radius: 20px;
            padding: 3px;
        }
    }
    .member-online{
        border: 3px solid rgb(20, 235, 20);
        opacity: 1; 
    }
}

// Main
main{
    width: 100vw;
    height: calc(100vh - 60px);
    overflow: hidden
}

// Small Top Sub Navbar
#deskMenuBar{
    @include flex(space-between, center);
    height: 37px;
    width: 100%;
    padding: 10px 5px 0 5px;
    background-color: var(--theme-bg);

    button{
        border: 0;
        background-color: transparent;
        color: var(--theme-txt);
        font-weight: 300;
        margin-right: 10px;
        border-radius: 5px;
        padding: 0 5px;
        position: relative;
    }

    #chatBtn i, #menuBtn i{
        color: $secondary2;
    }

    #topSearch{
        @include flex(flex-end,center);
        position: relative;
        #searchbar, #clearSearch{
            width: auto;
            border-style: solid;
            border-color: var(--border-color);
            font-size: .9rem;
            transition: border-color .3s, color .3s;
        }
        #searchbar{
            width: 180px;
            border-width: 2px 0 2px 2px;
            border-radius: 5px 0 0 5px;
            padding-left: 5px;
            color: $primaryText;
            &:focus{
                border-color: $secondary2;
            }
            &:focus + #clearSearch{
                border-color: $secondary2;
            }
            &::placeholder{
                color: $placeholder;
                font-size: .85rem;
            }
        }
        #clearSearch{
            border-width: 2px 2px 2px 0;
            border-radius: 0 5px 5px 0;
            padding: 0 5px;
            background-color: #fff;
            margin-right: 10px;
            color: $secondary2;
        }
    }
}

// Entire Desk Space (minus top bars)
#deskSpace{
    width: 100%;
    height: calc(100% - 37px);
    position: relative;
}

// Side Menu
#sideMenu{
    @include flex(space-evenly, center);
    flex-direction: column;
    width: 390px;
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    top: 15px;
    right: 0;
    overflow-y: auto;
    background-color: rgb(252, 252, 252);
    border-radius: 5px;
    box-shadow: $boxShadow;
    z-index: 150;
    border: var(--theme-border);

    #sideMenuHeading{
        @include flex(flex-start, center);
        width: 100%;
        height: 42.8px;
        min-height: 42.8px;
        padding-left: 12px;
        color: $primaryText;
        font-weight: 600;

        i{
            color: $secondary2;
            margin-right: 5px;
        }
    }

    .menuSection{
        @include flex(space-between,center);
        border-top: 1px solid #ccc;
        width: 100%;
        padding: 20px 10px;
        padding-left: 12px;
        color: $primaryText;
        font-size: .9rem;
        height: 70px;
    }

    #deskActionBtn{
        background-color: #fff;
        border: 2px solid $error;
        color: $error;
        padding: 2px 4px;
        border-radius: 5px;
    }

    #darkModeSwitch{
        position: relative;
        right: -6px;
        margin-top: 7px;
        cursor: pointer;
    }

    #renameInput{
        border-radius: 5px 0 0 5px;
        border: 1px solid #ccc;
        border-right: 0;
        padding-left: 5px;
        color: $primaryText;

       @media screen and (max-width:360px) {
           width: 110px;
       } 
    }

    #renameBtn{
        border-radius: 0 5px 5px 0;
        border: 1px solid #ccc;
        border-left: 0;
        padding: 0 3px;
        color: #426EFD;
        background-color: #fff;
    }

    #dangerIcon{
        color: $error;
    }
}

#messageIndicator{
    background-color: rgba(255, 68, 106, 0.9);
    width: 8px;
    height: 8px;
    position: absolute;
    top: 2px;
    left: 10px;
    border-radius: 50%;
}

// Chat
#chatWindow{
    z-index: 140;
    position: absolute;
    bottom: 0;
    right: 0;
    height: 400px;
    max-height: 100%;
    width: 390px;
    max-width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px 5px 0 0;
    background-color: rgb(252, 252, 252);

    #chatHeading{
        @include flex(flex-start, center);
        height: 10%;
        padding-left: 12px;
        border-bottom: 1px solid #ccc;
        color: $secondary2;
        span{
            color: $primaryText;
            margin-left: 5px;
            font-weight: 600;
        }
    }

    .msg-align-right{
        @include flex(flex-end, flex-end);
        text-align: left;
        flex-direction: column;
    }
    .msg-align-left{
        @include flex(flex-start, flex-start);
        text-align: left;
        flex-direction: column;
    }

    #messageWindow{
        width: 100%;
        height: 78%;
        padding: 5px;
        overflow-y: scroll;
        overflow-wrap: break-word;
        max-width: 100%;

        ul{
            padding: 3px 10px 10px 10px;
            margin: 0;
            cursor: default;
        }
        li{
            margin-bottom: 2px;
            width: 100%;
            color: $primaryText;
            font-size: .9rem;

            small{
                font-weight: 400;
                font-size: .8rem;
                display: inline-block;
                margin-top: 8px;
                margin-left: 2px;
                margin-right: 2px;
            }

            div{
                padding: 3px 8px;
                border-radius: 10px;
                background-color: $secondary2;
                color: #F5F5F5;
                font-weight: 300;
                display: inline-block;
                width: auto;
                word-wrap: break-word;
                max-width: 100%;
                max-width: 94%;
            }
        }
        .chat-info{
            @include flex(center,center);
            padding-top: 10px;
            padding-bottom: 8px;

            span{
                font-weight: 300;
                font-size: .8rem;
                text-align: center;
                display: inline-block;
                line-height: 100%;
            }

            div{
                width: 3px;
                height: 3px;
                padding: 4px;
                margin-right: 5px;
            }
        }
    }
    form{
        @include flex(space-between,center);
        height: 12%;
        width: 100%;
        padding: 4px 10px;
        background-color: #fff;
        border-top: 1px solid #ccc;

        input{
            width: 100%;
            font-size: .9rem;
            padding: 2px 5px;
            color: $primaryText;
            font-weight: 400;
            border: 1px solid #ccc;
            border-right: 0;
            border-radius: 5px 0 0 5px;
        }
        button{
            background-color: $secondary2;
            color: #fff;
            font-size: .9rem;
            border: 1px solid $secondary2;
            border-left: 0;
            padding: 2px 10px;
            border-radius: 0 5px 5px 0;
        }
    }
}

// Entire List Cell Container
#listContainer{
    @include flex(flex-start, flex-start);
    width: 100%;
    height: 100%;
    overflow-x: scroll;
    overflow-y: auto;
    padding-top: 10px;
    background-color: var(--theme-bg);
    scrollbar-color: #ccc var(--theme-bg);
    &::-webkit-scrollbar{
        background-color: var(--theme-bg);
        height: 10px;
    }
    &::-webkit-scrollbar-thumb{
        background-color: #ccc;
        border-radius: 10px;
    }
}
#cellContainer{
    @include flex(flex-start,flex-start);
    height: 100%;
    width: auto;
}

// Add List Row
#addList{
    @include flex(center,center);
    width: 300px;
    height: 45px;
    min-width: 250px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #F5F5F5;
    margin: 5px;

    button{
        background-color: transparent;
        border: 0;
        font-weight: 500;
    }

    #addListBtn{
        width: 100%;
        height: 100%;
        border-radius: 5px;
        color: $primaryText;
    }

    form{
        @include flex(center,center);
        width: 100%;
        height: 100%;
        padding: 0 5px;

        input{
            width: 85%;
            height: 60%;
            border: 2px solid #ccc;
            border-radius: 5px;
            padding-left: 5px;
            padding-top: 2px;
            padding-bottom: 2px;
            font-size: .9rem;
            color: $primaryText;
            font-weight: 600;
            &:focus{
                border-color: #11d2f8;
            }
            &::placeholder{
                color: rgb(204, 204, 204);
                font-weight: 400;
            }
        }
        button{
            width: 15%;
        }
        .fa-check-circle{
            color: $primary;
        }
        .fa-times-circle{
            color: $error;
        }
    }
}

// Full Height list cell (column)
.list-cell{
    height: auto;
    width: 300px;
    min-width: 280px;
    padding: 5px;
    @media screen and(max-width:300px){
        width: 280px;
    }
}

// List Card
.list{
    @include flex(center,flex-start);
    flex-direction: column;
    border: 1px solid #ccc;
    background-color: rgb(245, 245, 245);
    border-radius: 5px;
    width: 100%;
    height: auto;
    padding: 5px 10px 20px 10px;

    .list-head{
        @include flex(space-between,center);
        width: 100%;
        position: relative;
        white-space: wrap;
        word-wrap: break-word;
        textarea{
            width: 82%;
            padding: 0px 0 2px 1px;
            height: fit-content;
            resize: none;
            overflow-y: hidden;
            color: $primaryText;
            font-weight: 600;
            border: 2px solid transparent;
            background-color: transparent;
            cursor: pointer;
            border-radius: 5px;
            transition: border-color .2s;
            &:focus{
                outline: none;
                border-color: #13c7ebb9;
                cursor: text;
            }
        }
        div{
            @include flex(space-between,center);
            width: 17%;
            position: absolute;
            top: 0;
            right: 0;
            padding-left: 10px;
        }
        button{
            color: $error;
            background-color: transparent;
            border: 0;
            i{
                pointer-events: none;
            }
        }
        .grab-icon{
            cursor: ew-resize;
            color: #14badbb9;
            padding-left: 10px;
            font-size: 1.1rem;
        }
    }

    .list-tasks{
        @include flex(flex-start,flex-start);
        flex-direction: column;
        padding-left: 0;
        margin: 5px 0;
        width: 100%;
        padding-bottom: 5px;
        
        li{
            position: relative;
            margin: 3px 0;
            border-color: #ccc;
            border-style: solid;
            border-width: 0 1px 2px 0;
            background-color: #fff;
            padding: 5px;
            border-radius: 5px;
            width: 100%;
            word-wrap: break-word;
            font-size: .9rem;
            color: $primaryText;
            transition: padding .3s, background-color .8s, color .5s;
        }
    }
}

.task{
    cursor: pointer;
    position: relative;
    outline: none;
    &:focus-visible{
        outline: 2px solid blue;
    }

    .taskMarker{
        position: absolute;
        top: 3px;
        right: 3px;
        width: 6px;
        height: 6px;
        border: 1px solid $secondary2;
        background-color: rgba(28, 191, 202, 0.603);
        border-radius: 50%;
    }

    span{
        pointer-events: none;
        &::selection{
            background-color: initial;
            color: inherit;
        }
    }
}

.task-expand{
    padding-bottom: 44.34px !important;
}

.task-closed{
    display: none !important;
}

.task-buttons{
    @include flex(flex-start,center);
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 7px 5px;
    pointer-events: none;

    button{
        border-radius: 5px;
        padding: 0 5px;
        border: 0;
        color: #fff;
        background-color: transparent;
        font-size: .8rem;
        margin-right: 10px;
        pointer-events: all;
        font-weight: 600;
        z-index: 100;
        &::selection{
            background-color: initial;
            color: inherit;
        }
    }
    .taskComplete{
        background-color: $primary;
    }
    .taskInfo{
        background-color: #5BC1DE;
    }
}

.task-found{
    background-color: $secondary2 !important;
    color: #fff !important;
}

.task-not-found{
    color: rgb(255, 71, 71) !important;
    border-color: rgb(255, 71, 71) !important;
}

.addTask{
    @include flex(center,center);
    width: 100%;
    background-color: transparent;
    height: 100%;
    border-top: 1px solid #ccc;
    padding-top: 20px;
    margin-top: 0px;

    button{
        background-color: transparent;
        border: 0;
        font-weight: 500;
        i{
            pointer-events: none;
        }
    }

    .addTaskBtn{
        width: 100%;
        border: 0;
        border-radius: 5px;
        background-color: transparent;
        color: $primaryText;
    }

    form{
        @include flex(center,center);
        width: 100%;
        height: 100%;

        input{
            height: 100%;
            width: 85%;
            border: 2px solid #ccc;
            border-radius: 5px;
            padding-left: 5px;
            padding-top: 1px;
            padding-bottom: 1px;
            color: $primaryText;
            font-size: .9rem;
            font-weight: 400;
            &:focus{
                border-color: #11d2f8;
            }
            &::placeholder{
                color: rgb(204, 204, 204);
            }
        }
        button{
            width: 15%;
        }
        .fa-check-circle{
            color: $primary !important;
            pointer-events: none;
        }
        .fa-times-circle{
            color: $error !important;
            pointer-events: none;
        }
    }
}

#taskModal{
    #taskNameTextarea{
        margin-top: 6px;
        overflow-y: hidden;
        font-size: 1.1rem;
        padding-left: 2px;
        padding-bottom: 2px;
        color: $primaryText;
        font-weight: 600;
        cursor: pointer;
        width: 87%;
        height: auto;
        resize: none;
        border-radius: 5px;
        border: 2px solid transparent;
        transition: border-color .2s;
        &:focus{
            outline: none;
            cursor: text;
            border-color: #13c7ebb9;
        }
    }
    .modal-header button{
        margin-right: 5px;
    }
    .modal-body{
        padding-bottom: 5px;
        label{
            color: $primaryText;
            font-size: .9rem;
            margin-bottom: 5px;
            i{
                color: $secondary2;
            }    
        }
        small{
            color: rgb(150, 150, 150);
            font-size: .8rem;
            cursor: default;
            margin-top: 5px;
        }
        #passedTime{
            color: $secondary2;
        }
    }
    #taskDescriptionTextarea{
        width: 100%;
        resize: none;
        overflow-y: hidden;
        color: $primaryText;
        box-shadow: inset 0px 0px 50px -48px rgb(75, 75, 75);
        font-size: .88rem;
        font-weight: 300;
        min-height: 120px;
        padding: 5px;
        margin-bottom: 10px;
        border: 2px solid transparent;
        cursor: pointer;
        border-radius: 5px;
        transition: border-color .2s, box-shadow .2s;
        &:focus{
            outline: none;
            box-shadow: none;
            border-color: #13c7ebb9;
            color: rgba(34, 34, 34, 0.89);
            cursor: text;
        }
        &::placeholder{
            color: $placeholder;
            font-weight: 300;
        }
    }
    #availableRow{
        @include flex(flex-start,center);
        width: 100%;
        min-height: 81px;
        padding: 0 10px;
        overflow-x: auto;
        .no-members{
            text-align: center;
            width: 100%;
            font-size: .8rem;
            color: $placeholder;
        }
        i{
            color: $primary;
        }
    }

    #assignedRow{
        @include flex(flex-start,center);
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 0 10px;
        margin: 10px 0;
        min-height: 81px;
        overflow-x: auto;
        .no-members{
            text-align: center;
            width: 100%;
            font-size: .8rem;
            color: $placeholder;
        }
        i{
            color: $error;
        }
    }

    .member-box{
        @include flex(center,center);
        flex-direction: column;
        padding: 5px;
        margin-right: 8px;
        width: 70px;
        white-space: nowrap;
        background-color: rgb(253, 253, 253);
        box-shadow: 0px 0px 4px 0px rgba(196, 196, 196, 0.792);
        cursor: pointer;
        border-radius: 5px;

        span{
            font-size: .8rem;
            font-weight: 300;
            color: rgb(179, 179, 179);
            height: 15px;
            max-width: 100%;
            padding: 0 5px;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    .task-member{
        position: relative;
        width: 35px;
        height: 35px;
        cursor: pointer;
        border-radius: 50%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-color: transparent;

        i{
            position: absolute;
            bottom: 0;
            left: -3px;
            background-color: #fff;
            border-radius: 50%;
            font-size: .8rem;
            pointer-events: none;
        }
    }
}

#inviteModal{
    .modal-header{
        height: 50px;
        color: $primaryText;
    }
    .modal-body{
        @include flex(flex-start,flex-start);
        flex-direction: column;
        width: 100%;
        height: 88px;
        padding-top: 5px;
    }
    small{
        color: $error;
    }
    form{
        @include flex(space-between,center);
        margin-top: 4px;
        width: 100%;
        input{
            width: 85%;
            padding: 3px;
            border-radius: 5px 0 0 5px;
            border: 1px solid #ccc;
            color: $primaryText;
        }
        button{
            width: 15%;
            border-width: 1px;
            border-style: solid;
            color: #fff;
            border-radius: 0 5px 5px 0;
            padding: 3px;
        }
    }
}

.accessDisabled{
    opacity: .4;
    cursor: default !important;
    pointer-events: none;
}

.dragging{
    opacity: .01;
}

// Media Queries
// Hide Member Cards & Searchbar
@media screen and (max-width: 551px){
    #topMembers{
        #inviteBtn{
            margin-right: 0;
        }
        .member-card{
            display: none;    
        } 
    }
}
@media screen and (max-width: 391px){
    #topSearch{
        display: none !important;
    }
    #deskMenuBar{
        justify-content: flex-end;
    }
}