@import 'base';

body{
    width: 100vw;
    height: 100vh;
}

// Dynamic Coloring
.top-division,#topDeskname, #clearSearch, #deskMenuBar i, #inviteBtn i, .menuSection .menuIcon, #addListBtn, .addTaskBtn{
    color: $primary !important;
}
#admin i{
    background-color: $primary !important;
}
#searchbar, #clearSearch{
    border-color: $primary !important;
}

// Top Navbar
nav{
    @include flex(space-between,center);
    padding: 8px;
    height: 60px;
    border-bottom: 1px solid #ccc;
    #topControl{
        button{
            border: 0;
            background-color: #fff;
            color: $primaryText;
            outline: none;
            i{
                margin-right: 5px;
            }
            &:focus-visible{
                outline: 2px solid blue;
            }
        }
        .top-division{
            margin: 0 0px 0 10px;
        }
        #topDeskname{
            padding: 3px 8px;
            border-radius: 5px;
            font-weight: 700;
        }
    }
    #topMembers{
    @include flex(flex-end,center);
    margin-right: 7px;
    #inviteBtn{
        height: 30px;
        width: 70px;
        border: 0;
        color: $primaryText;
        background-color: #fff;
        margin-right: 10px;
        padding: 0 5px;
        border-radius: 5px;
        outline: none;
        &:focus-visible{
            outline: 2px solid blue;
        }
    }
    .member-card{
        height: 29px;
        width: 29px;
        background-image: url('../../assets/img/user-default.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    #admin{
        position: relative;
        i{
            font-size: .6rem;
            position: absolute;
            top: -3px;
            right: -3px;
            color: #fff;
            border-radius: 20px;
            padding: 3px;
        }
    }
    }
}

// Main
main{
    width: 100vw;
    height: calc(100vh - 60px);
    overflow: hidden
}

// Small Top Sub Navbar
#deskMenuBar{
    @include flex(space-between, center);
    height: 37px;
    width: 100%;
    padding: 0 5px;
    background-color: #fff;
    border-bottom: 1px solid #ccc;

    button{
        border: 0;
        background-color: #fff;
        color: $primaryText;
        margin-right: 10px;
        border-radius: 5px;
        padding: 0 5px;
        outline: none;
        &:focus-visible{
            outline: 2px solid blue;
        }
    }

    #topSearch{
        @include flex(flex-end,center);
        #searchbar, #clearSearch{
            width: auto;
            border-style: solid;
            outline: 0;
        }
        #searchbar{
            border-width: 2px 0 2px 2px;
            border-radius: 5px 0 0 5px;
            padding-left: 5px;
            color: $primaryText;
        }
        #clearSearch{
            border-width: 2px 2px 2px 0;
            border-radius: 0 5px 5px 0;
            padding: 0 5px;
            background-color: #fff;
            margin-right: 10px;
            &:focus-visible{
                outline: 1px solid blue;
            }
        }
    }
}

// Entire Desk Space (minus top bars)
#deskSpace{
    width: 100%;
    height: calc(100% - 37px);
    background-color: rgb(247, 247, 247);
    position: relative;
}

// Side Menu
#sideMenu{
    @include flex(space-evenly,center);
    flex-direction: column;
    width: 400px;
    max-width: 100%;
    height: 220px;
    max-height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    overflow-y: auto;
    background-color: #fff;
    border: 1px solid #ccc;
    border-top-width: 0;
    border-bottom-left-radius: 5px;
    z-index: 50;

    .menuSection{
        @include flex(space-between,center);
        width: 100%;
        padding: 10px;
        color: $primaryText;
        font-size: .9rem;

        #deskActionBtn{
            background-color: #fff;
            border: 2px solid $error;
            color: $error;
            padding: 2px 4px;
            border-radius: 5px;
        }

        #alignSwitch{
            margin-top: 7px;
            cursor: pointer;
        }

        #renameInput{
            border-radius: 5px 0 0 5px;
            border: 1px solid #ccc;
            outline: none;

           @media screen and (max-width:360px) {
               width: 110px;
           } 
        }
        #renameBtn{
            border-radius: 0 5px 5px 0;
            border: 1px solid #0e6efdb7;
            border-left: 0;
            padding: 0 3px;
            color: #fff;
            background-color: #0e6efdb7;
        }
        button{
            outline: none;
            &:focus-visible{
                outline: 2px solid blue;
            }
        }
        #dangerIcon{
            color: $error;
        }
    }
}

// Chat
#chatWindow{
    padding-bottom: 10px;
    position: absolute;
    bottom: 0;
    right: 0;
    height: 320px;
    max-height: 100%;
    width: 400px;
    max-width: 100%;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 5px 5px 0 0;

    #messageWindow{
        width: 100%;
        height: 90%;
        overflow-y: scroll;
        overflow-wrap: break-word;

        ul{
            padding: 10px;
        }
        li{
            border-bottom: 1px solid rgba(204, 204, 204, 0.753);
            margin-bottom: 8px;
            color: $primaryText;

            small{
                color: purple;
                font-weight: 500;
                font-size: small;
            }
        }
    }
    form{
        @include flex(space-between,center);
        height: auto;
        width: 100%;
        padding: 0 20px 0 10px;

        input{
            width: 100%;
            border: 1px solid #ccc;
            border-right: 0;
            outline: none;
            border-radius: 5px 0 0 5px;
        }
        button{
            background-color: $primary;
            color: #fff;
            border: 1px solid $primary;
            border-left: 0;
            padding: 0 10px;
            border-radius: 0 5px 5px 0;
            outline: none;
            &:focus-visible{
                outline: 2px solid blue;
            }
        }
    }
}

// Entire List Cell Container
#listContainer{
    @include flex(flex-start, flex-start);
    width: 100%;
    height: 100%;
    overflow-x: scroll;
}

// Add List Row
#addList{
    @include flex(center,center);
    width: 300px;
    height: 45px;
    min-width: 250px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #fff;
    margin: 5px;

    button{
        background-color: #fff;
        border: 0;
        outline: 0;
        &:focus-visible{
            outline: 2px solid blue;
        }
    }

    #addListBtn{
        width: 100%;
        height: 100%;
        border-radius: 5px;
        &:hover{
            background-color: rgba(241, 241, 241, 0.486);
        }
    }

    form{
        @include flex(center,center);
        width: 100%;
        height: 100%;
        padding: 0 5px;

        input{
            width: 85%;
            border: 1px solid #ccc;
            border-radius: 5px;
            outline: 0;
            padding-left: 5px;
            color: $primaryText;
        }
        button{
            width: 15%;
        }
        .fa-check-circle{
            color: $primary;
        }
        .fa-times-circle{
            color: $error;
        }
    }
}

// Full Height list cell (column)
.list-cell{
    height: 100%;
    width: 300px;
    max-width: 100%;
    padding: 5px;
}

// List Card
.list{
    @include flex(center,flex-start);
    flex-direction: column;
    border: 1px solid #ccc;
    background-color: rgb(245, 245, 245);
    border-radius: 5px;
    width: 100%;
    height: auto;
    padding: 5px 10px 10px 10px;

    .list-head{
        @include flex(space-between,center);
        width: 100%;
        span{
            color: $primaryText;
            font-weight: 600;
            margin-left: 2px;
        }
        button{
            color: $error;
            background-color: transparent;
            border: 0;
        }
    }

    .list-tasks{
        @include flex(flex-start,flex-start);
        flex-direction: column;
        padding-left: 0;
        margin: 5px 0;
        width: 100%;
        
        li{
            margin: 3px 0;
            border: 1px solid #ccc;
            background-color: #fff;
            padding: 5px;
            border-radius: 5px;
            width: 100%;
            word-wrap: break-word;
            font-size: .9rem;
            color: $primaryText;
        }
    }
}

.addTask{
    @include flex(center,center);
    width: 100%;
    border-radius: 5px;
    background-color: transparent;
    height: 30px;

    .addTaskBtn{
        width: 100%;
        border: 0;
        border-radius: 5px;
        background-color: transparent;
    }
}

// Media Queries
// Hide Member Cards & Searchbar
@media screen and (max-width: 551px){
    #topMembers{
        #inviteBtn{
            margin-right: 0;
        }
        .member-card{
            display: none;    
        } 
    }
}
@media screen and (max-width: 391px){
    #topSearch{
        display: none !important;
    }
    #deskMenuBar{
        justify-content: flex-end;
    }
}