@import 'base';
@import 'basenav';

// REMOVE NAV POINTER
nav h3{
    cursor: default !important;
}

// TOP BANNER / IMAGES / BUTTONS
#main-banner{
    @include flex(space-around,center);
    flex-wrap: nowrap;
    width: 100%;
    background-color: #fff;

    img{
        height: 360px;
    }
    #left-image-box{
        position: relative;
        top: 0;
        left: 0;
        z-index: 1;
        #img1{
            position: relative;
            top: 0;
            left: 0;
            z-index: 5;
        }
        #background-boards{
            position: absolute;
            top: 10px;
            left: -10px;
        }
    }
    #right-image-box{
        position: relative;
        top: 0;
        left: 0;
        z-index: 1;
        #img2{
            position: relative;
            top: 0;
            left: 0;
            z-index: 5;
            transform: scaleX(-1);
        }
        #background-plant{
            position: absolute;
            top: 10px;
            right: -10px;
        }
    }

    #main-text{
        @include flex(flex-start,center);
        flex-direction: column;
        box-shadow: $boxShadow;
        border-radius: $boxRadius;
        width: 100%;
        max-width: 700px;
        z-index: 5;
        background-color: rgba(255, 255, 255, 0.750);

        h2{
            font-weight: 400;
            color: $primaryText;
            cursor: default;

            .home-username{
                color: $primary;
            }
        }
        button{
            width: 230px;
            padding: 8px 10px;
            position: relative;
            font-weight: 500;
            
            i{
                position: absolute;
                right: 10px;
                top: 13px;
            }
        }
    }

    @media screen and (max-width: 900px){
        img{
            display: none;
        }
        justify-content: center;
        #main-text{
            max-width: 88vw;
        }
    }
}

// APP CARD BUBBLES
#intro-cards{
    @include flex(space-evenly,center);
    flex-wrap: wrap;

    .app-card{
        display: flex;
        flex-direction: column;
        width: 22%;
        margin: 10px;
        min-width: 250px;
        border-radius: $boxRadius;
        cursor: default;

        .card-image{
            height: 200px;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center center;
        }
        #card-task{
            background-image: url('../../assets/img/task-icon.png');
        }
        #card-collab{
            background-image: url('../../assets/img/collab-icon.png');
        }
        #card-custom{
            background-image: url('../../assets/img/custom-icon.png');
        }

        .card-content{
            @include flex(center,center);
            flex-direction: column;
            text-align: center;
            h4{
                color: $secondary;
            }
            p{
                font-size: 1.1rem;
            }
        }
    }
}

// MAIN SECTION
main{
    margin-top: 10vh;
    padding-bottom: 30px;
    background-color: #FEFCFE;
    box-shadow: 2px 4px 13px -4px rgba(97,97,97,1);
}

// PRODUCT INFO ROWS / DESCRIPTION / IMAGES
.product-row{
    @include flex(space-between,center);
    flex-wrap: wrap;
}
.product-description{
    cursor: default;
    width: 50%;
}
.product-image{
    height: 400px;
    width: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 1px 1px 13px -5px rgba(102,102,102,1);
    border-radius: 5px;
}
@media screen and (max-width: 990px){
    .product-description{
        width: 100%;
    }
    .product-image{
        width: 100%;
    }
}

// IMAGE PATHS
#board-image{
    background-image: url('../../assets/img/prod-img-board.jpeg');
    background-position: -15px center;
}
#desk-image{
    background-image: url('../../assets/img/prod-img-desk.jpeg');
    background-position: left;
}
#collab-image{
    background-image: url('../../assets/img/prod-img-collab.png');
    background-position: center;
}
#chat-image{
    background-image: url('../../assets/img/prod-img-chat.png');
    background-position: center;
}

// BOTTOM BUTTON
#dynamic-bottom{
    @include flex(center,center);
    height: 100px;
    padding: 10px;
    button{
        font-size: 1.06rem;
    }
}

// FOOTER
footer{
    @include flex(space-between,center);
    width: 100%;
    padding: 50px 10px;
    flex-direction: column;
    cursor: default;

    i{
        color: $primary;
    }
    h3{
        font-family: 'APP-NAME';
        color: rgb(94, 94, 94);
    }
    span{
        color: $primaryText;
        font-weight: 200;
        margin-top: 10px;
    }
}

// SCROLL TO TOP BUTTON
.scroll-to-top{
    border-radius: 50%;
    font-size: 1rem;
    font-weight: 700;
    padding: 7px 12px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 100;
    opacity: 0;
    transform: translateY(100px);
    transition: all .5s ease;
}
.show-btn{
    opacity: 1;
    transform: translateY(0)
}

// FADE OUT WINDOW
#fadeInWindow{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    opacity: 1;
    z-index: 9000;
    background-color: #fff;
    transition: opacity 1s;
    @include flex(center, center);
}

#fadeOutWindow{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    z-index: -9000;
    background-color: #fff;
    transition: opacity .8s;
}