@import 'base';
@import 'basenav';

nav h3{
    cursor: default;
}

#main-banner{
    @include flex(space-around,center);
    flex-wrap: nowrap;
    width: 100%;
    background-color: #fff;

    #main-text{
        @include flex(flex-start,center);
        flex-direction: column;
        box-shadow: $boxShadow;
        border-radius: $boxRadius;
        width: 100%;
        max-width: 700px;

        h2{
            font-weight: 400;
            color: $primaryText;
            cursor: default;
        }
        button{
            width: 230px;
            padding: 8px 10px;
            position: relative;
            font-weight: 500;
            
            i{
                position: absolute;
                right: 10px;
                top: 14px;
            }
        }
    }
    img{
        height: 360px;
    }
    #img2{
        transform: scaleX(-1);
    }

    @media screen and (max-width: 1000px){
        img{
            display: none;
        }
        justify-content: center;
        #main-text{
            max-width: 88vw;
        }
    }
}

#intro-cards{
    @include flex(space-evenly,center);
    flex-wrap: wrap;

    .app-card{
        display: flex;
        flex-direction: column;
        width: 22%;
        margin: 20px;
        min-width: 250px;
        border: 1px solid #ccc;
        border-radius: $boxRadius;
        padding: 10px;

        .card-image{
            height: 200px;
            background-image: url('../../assets/img/placeholder.png');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
        }

        .card-content{
            h4{
                color: $secondary;
            }
        }
    }
}

main{
    @include flex(center,flex-start);
    margin-top: 120px;
    width: 100vw;
    height: 100%;
    box-shadow: $boxShadow;
}