@import 'base';
@import 'basenav';

// DOCUMENT STYLE
body{
    width: 100vw;
    height: 100vh;
}

// LOGIN | SIGN UP (HEADING)
#form-toggle-box{
    @include flex(center,flex-end);
    padding-bottom: 50px;
    height: 20vh;

    div{
        width: 97%;
        max-width: 500px;
        @include flex(space-around,flex-start);

        h1{
            font-weight: 200;
            color: $muted;
            cursor: pointer;
            outline: none;
            transition: color .7s;
        }
    }

    .active-form{
        color: $primary;
    }
}

// FORM
#user-form{
    @include flex(center,center);
    transition: opacity .4s;
    z-index: 9000;

    form{
        border-radius: $boxRadius;
        box-shadow: $boxShadow;
        padding: 20px;
        width: 97%;
        max-width: 500px;
        background-color: #fff;
        z-index: 9000;

        input{
            border-width: 0 0 1px 0;
            border-radius: 0px;
            padding-left: 0;
            color: $primaryText;
            font-weight: 400;

            &:focus{
                border-color: $primary;
            }

            &::placeholder{
                color: $placeholder;
            }
        }

        button{
            padding: 5px 10px;
            width: 20%;
            min-width: 115px;
            cursor: pointer;

            span{
                cursor: pointer;
            }
        }

        .form-icon{
            position: absolute;
            right: 10px;
            bottom: 7px;
            color: $primary;
        }

        .form-error{
            position: absolute;
            right: 0px;
            margin-right: 12px;
            color: $error;
            cursor: default;
        }
    }
}

// BOTTOM SVG
.bottom-wave-shape {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    z-index: 1;
    svg{
        position: relative;
        display: block;
        width: calc(100% + 1.3px);
        height: 149px;
    }
    .shape-fill{
        fill: $primary;
    }
    @media screen and (max-width:650px){
        svg{
            height: 20vw;
        }
    }
}

// FADE OUT WINDOW
#fadeInWindow{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    opacity: 1;
    z-index: 9000;
    background-color: #fff;
    transition: opacity 1s;
    @include flex(center, center);
}

#fadeOutWindow{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    z-index: -9000;
    background-color: #fff;
    transition: opacity .8s;
}