@import 'base';
@import 'basenav';

body{
    width: 100vw;
    height: 100vh;
}

#form-toggle-box{
    @include flex(center,flex-end);
    padding-bottom: 50px;
    height: 25vh;

    div{
        width: 97%;
        max-width: 500px;
        @include flex(space-around,flex-start);

        h1{
            font-weight: 400;
            color: $muted;
            cursor: pointer;
            outline: none;
            transition: color .7s;
        }
    }

    .active-form{
        color: $primary;
    }
}

#user-form{
    @include flex(center,center);
    transition: opacity .4s;

    form{
        border-radius: $boxRadius;
        box-shadow: $boxShadow;
        padding: 20px;
        width: 97%;
        max-width: 500px;

        input{
            border-width: 0 0 1px 0;
            border-radius: 0px;
            padding-left: 0;
            color: $primaryText;
            font-weight: 300;

            &:focus{
                border-color: $primary;
            }

            &::placeholder{
                color: $placeholder;
            }
        }

        button{
            padding: 5px 10px;
            width: 20%;
            min-width: 115px;
        }

        .form-icon{
            position: absolute;
            right: 10px;
            bottom: 7px;
            color: $primary;
        }

        .form-error{
            position: absolute;
            right: 0px;
            margin-right: 12px;
            color: $error;
            cursor: default;
        }
    }
}